section {
    padding-bottom: 4rem;
}

#section-title {
    font-size: 2.2rem;
    font-weight: 700;
    margin-top: 3rem;
    color: hsl(0, 0%, 8%);
}

#section-description {
    color: hsl(0, 0%, 41%);
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;

}

#section-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    text-align: center;
    border: 1px solid hsl(0, 0%, 8%);
    margin-top: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.7rem 1.25rem;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    border-radius: 1rem;
}

#section-button:hover {
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 8%);
}

#section-clients {
    margin-top: 2.8rem;
    margin-left: 0;
    padding-left: 0;
    max-width: 100%;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: end;
    align-items: center;
}

#section-clients li svg {
    scale: 0.65;
}

@media (min-width:768px) and (max-width:992px){
    
    #section-title{
        font-size: 4.4rem;
    }

    #section-description {
        font-size: 2rem;
        line-height: 3rem;
    }

    #section-button {
        font-size: 2rem;
        padding: 1.4rem 2.5rem;
        border-radius: 2rem;
    }

    #section-clients li svg {
        scale: 1.3;
    }
}